---
import Layout from "../layouts/Layout.astro";
import Email from "../components/Editor";
---

<Layout title="Mail HTML | Make a Professional Responsive Email in Seconds!">
  <main>
    <Email client:only="react" />
  </main>
</Layout>
