---
import "@fontsource-variable/overpass";
import "@fontsource-variable/jetbrains-mono";
import Favicons from "../components/Favicons.astro";
import Email from "../components/Editor";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>Mail HTML | Make Professional Responsive Emails in Seconds!</title>
    <meta
      name="description"
      content="An online tool that allows you to craft clean and standard emails in the shortest time possible. Mail HTML is 100% free and requires no signup."
    />
    <meta
      property="og:title"
      content="Mail HTML | Make Professional Responsive Emails in Seconds!"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="An online tool that allows you to craft clean and standard emails in the shortest time possible. Mail HTML is 100% free and requires no signup."
    />
    <meta property="og:url" content="https://mailhtml.yekta.dev/" />
    <meta property="og:image" content="https://mailhtml.yekta.dev/social.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta name="author" content="Ali Khaleqi Yekta" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@YektaDev" />
    <meta name="twitter:image" content="https://mailhtml.yekta.dev/social.jpg" />
    <Favicons />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      async
      defer
      is:inline
      data-domain="mailhtml.yekta.dev"
      src="https://hub.yekta.dev/js/script.js"></script>
  </head>
  <body>
    <Email client:only="react" />
  </body>
</html>
