---
import "@fontsource-variable/overpass";
import "@fontsource-variable/jetbrains-mono";
import Favicons from "../components/Favicons.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <Favicons />
    <script
      async
      defer
      is:inline
      data-domain="mailhtml.yekta.dev"
      src="https://hub.yekta.dev/js/script.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
